

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/base.js}"></script>

<!-- Feauture Detection -->
<script th:src="@{https://www.duuuunk.com/a-new-beginning}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9] -->
<script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
<script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>

<!-- [endif]-->