<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Navigation Section -->
<!-- Page Header -->

<!-- Navigation Section & -->
<!-- Page Header -->
<header th:fragment="header" class="tr-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fab fa-instagram"></i> Stargram</a>
            </div><!-- /.navbar-header -->
            <div class="navbar-left">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div><!-- /.navbar-left -->
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="search-dashboard">
                            <form>
                                <input placeholder="Search here" type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </li>

                    <li th:if="${session?.user}" class="dropdown mega-avatar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="avatar w-32">
                                <img th:src="@{#}" class="img-resonsive img-circle"
                                     th:onerror="@{javascript:this.src='/assets/img/users/no_thumnail.jpg'}" width="25" height="25" alt="...">
                            </span>
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span th:text="${session?.user.name}" class="hidden-xs">
                            </span>
                        </a>
                        <div class="dropdown-menu w dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href="#"><span>New Story</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span>Profile</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Sign out</a>
                        </div>
                    </li><!-- /navbar-item -->

                    <li th:if="!${session?.user}" class="dropdown mega-avatar">
                        <a href="/home">
                            Login
                        </a>
                    </li>

                </ul><!-- /.sign-in -->
            </div><!-- /.nav-right -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</header>

<!-- Navbar Second Section -->

<section th:fragment="navbar" class="nav-sec">
    <div class="d-flex justify-content-between">
        <div class="p-2 nav-icon-lg mint-green">
            <a class="nav-icon" href="/"><em class="fa fa-home"></em>
                <span>Home</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg clean-black">
            <a class="nav-icon" href="/main/photo_explore"><em class="fa fa-crosshairs"></em>
                <span>Explore</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
            <a class="nav-icon" href="/main/photo_upload"><em class="fab fa-instagram"></em>
                <span>Upload</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg clean-black">
            <a class="nav-icon" href="/main/photo_stories"><em class="fa fa-align-left"></em>
                <span>Stories</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
            <a class="nav-icon" href="/main/photo_profile"><em class="fa fa-user"></em>
                <span>Profile</span>
            </a>
        </div>
    </div>
</section>

</html>
