<!-- 공통 Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 공통 Favicons  -->
<link rel="icon" href="https://www.duuuunk.com/a-new-beginning">
<link rel="apple-touch-icon" href="https://www.duuuunk.com/a-new-beginning">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.duuuunk.com/a-new-beginning">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.duuuunk.com/a-new-beginning">

<!-- vendor CSS -->
<!--<link src="#" rel="stylesheet">-->


<!--<script src="/assets/vendor/jquery/jquery.js"></script>-->
<!--<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>-->