<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layout/accountLayout">
<head>
    <title>Register</title>

    <th:block layout:fragment="pageCustomHead">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />

        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet" />
    </th:block>
</head>
<body>

<th:block layout:fragment="content">

    <section class="login">
        <div class="container">
            <div class="banner-content">

                <h1><i class="fa fa-smile"></i> Fluffs</h1>

                <div class="form-signin">
                    <h3 class="form-signin-heading">Please register</h3>
                    <div class="form-group">
                        <input id="email" type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input id="name" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>

                    <button id="signUp" class="kafe-btn kafe-btn-mint btn-block">Sign Up</button>
                    <br/>

                    <a class="btn btn-dark " href="/login" role="button">Already have an account? Click Here.</a>
                </div>

            </div><!--/. banner-content -->
        </div><!-- /.container -->
    </section>

</th:block>


<th:block layout:fragment="pageCustomScript">

<script>
    $('#signUp').click(function () {
        var jsonData = JSON.stringify({
            email: $('#email').val(),
            name: $('#name').val(),
            password: $('#password').val()
        });
        $.ajax({
                   url: "http://localhost:8080/api/account",
                   type: "POST",
                   data: jsonData,
                   contentType: "application/json",
                   dataType: "json",
                       success: function () {
                           alert('저장 성공!');
                           location.href = '/login';
                   },
                   error: function () {
                       alert('저장 실패!');
                   }
               });
    });

    </script>
</th:block>

</body>
</html>