<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>

    <th:block layout:fragment="pageCustomHead">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />

        <link type="text/css" th:href="@{/css/demos/photo.css}" rel="stylesheet" />
    </th:block>
</head>
<body>

</body>
</html>